html, body {
    background-color: #ffffff;
    font-family: 'Merriweather Sans', sans-serif;
    height: 100%;
    text-align: center;
    margin: 0;
}

hr {
    border-color: #A6E3E9;
    border-style: none;
    border-top-style: none;
    border-top-style: dotted;
    border-width: 0.3em;
    width: 10%;
}

h1,h2,h3,h4 {
    color: #348d92;
}

a:link, a:visited,a:active{
    color: #923434;
    text-decoration: none;
}

a:hover {
    color: #923434;
    text-decoration: underline;
}

.sub_heading {
    color: #348d92;
}

.work-content {
    margin: 0;
    padding: 0.5% 0;
}

.work-heading {
    color: #348d92;
    font-weight: bolder;
}

.icons {
    display: inline-block;
    width: auto;
    height: 1em;
}

.main-font {
    font-size: 130%;
    margin: 1%;
    color: #923434;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

}

.skill {
    position: relative;
    margin: 5%;
    width: 6em;
}

.skill-text {
    text-align: center;
}

.skill-image {
    height: 5em;
    width: 5em;
}

.work-exp-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.work-content {
    position: relative;
    margin: 2%;
    height: fit-content;
    width: auto;
    text-align: center;
}

.social {
    width: 2em;
    height: 2em;
}

#main-container {
    position: relative;
    display: block;
    height: 100%;
    overflow-y: scroll;
}

#head-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#my-titles {
    font-size: 500%;
    width: fit-content;
    margin: 0;
}

#main-container {
    padding: 0;
    background: rgb(178,254,250);
    background: radial-gradient(circle, #7af4dd 20%, rgb(112, 195, 244) 100%);
}

#duration, #exp{
    position: relative;
    margin: 2%;
}

#footer {
    background-color: #7af4dd;
}

#social-links {
    margin: 2%;
}